.add-todo_container {
  display: flex;
  margin: 20px;
  min-height: 55px;
  width: 89%;
  background-color: #323232;
  transition: .1s linear;
  border-radius: 5px;

  &:hover {
    background-color: #4b4b4b;
  }

  .add-todo_container_disabled {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .add-todo_container__icon {

      text-align: right;
      width: 5%;
    }

    .add-todo_container__text {
      width: 93%;
      font-weight: 500;
      font-size: 18px;

      padding-left: 10px;
    }
  }

  .add-todo_container_enable {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .add-todo_container__input {
      height: 100%  ;
      margin-left: 20px;
      font-size: 18px;
      padding-left: 5px;
      color: #c2c2c2;

      &:focus{
        border-bottom: none!important;
        box-shadow: none!important;
      }

    }
  }
}

::placeholder {
  font-size: 18px;
  color: #9fa8da;
}