
.nav-wrapper {
position: fixed!important;
  padding-left: 15px;
  width: 100%;
  height: 65px!important;
  background-color: #1f2531;
  .material-icons{

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px!important;
  }
}